# install torch torchvision first, e.g. for cuda 12.1:
# pip install torch==2.5.1 torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu121
typedparser
packg
visiontext

# auto-gptq  # auto-gptq for llama2 4bit model if needed
einops
iopath
omegaconf
opencv-python-headless
pycocoevalcap
pycocotools
timm
webdataset
open-clip-torch
attrs
numpy
joblib
importlib_resources
loguru
natsort
pyyaml
python-dotenv
pathspec
zstandard
tqdm
requests
lxml
ipython
matplotlib
jupyter
notebook
ipdb
nltk
pandas
pyinstrument
nvidia-ml-py3
psutil
h5py
chardet
spacy
lmdb
msgpack
deepdiff
torchmetrics
transformers<5
sentence-transformers
sentencepiece
einops-exts
cached_path
dill
base58
more-itertools

# dev
pytest
pylint
black[jupyter]
